*{
    transition: 0.2s;
}

body{
    background-color: #f9f9f9;
}

nav{
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}

.nav-logomarca{
    height: 30px;
}

.nav-botao{
    margin: 0;
    padding: 0;
}

.nav-botao i{
    font-size: 40px;
}

.nav-items{
    color: white;
}

.nav-ul{
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-ul li{
    padding: 10px;
}

.fale-chamada{
    color: #28a745;
    font-weight: bold;
}

.fale-chamada:focus{
    color: inherit;
}

.fale-chamada:hover{
    color: #28a745;
}

.nav-link{
    color: white;
    cursor: pointer;
}

.nav-link:hover{
    color: #00ff6d;
}

.active{
    font-weight: bold;
    color: #00ff6d;
}

#carrossel{
    margin-top: 50px;
}

.marca-img{
    margin-top: 50%;
    transform: translateY(-50%);
}

.slide-mobile{
    display: block;
}

.slide-pc{
    display: none;
}

.titulo{
    font-size: 2rem;
}

.produto{
    padding: 20px 10px;
    margin: 20px 0;
}

.produto:first-child{
    margin: 0;
}

.produto-titulo{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    margin: 0;
}

.produto-preco{
    margin: 5px 0px;
    padding: 0;
    font-size: 1.4em;
}

#manutencao h1{
    font-size: 2em;
}

.modal-subtitulo{
    font-size: 1.2em;
}

table{
    width: 100%;
}

table td{
    border: 1px solid black;
    padding: 12px 8px;
}

.tabela-sessao{
    background-color: rgba(0,0,0,.1);
    font-weight: bold;
    width: 20%;
}

@media (min-width: 992px) {

    .nav-ul{
        text-align: right;
    }

    .nav-ul li{
        display: inline-block;
    }

    #carrossel{
        margin-top: 65px;
    }

    .slide-mobile{
        display: none;
    }

    .slide-pc{
        display: block;
    }

    .produto:hover{
        z-index: 9998;
        transform: scale(1.1);
    }

    #manutencao{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

}